.photoContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.image {
  border-radius: 24px;
}
.decoration {
  position: relative;
  display: block;
  width: 90%;
  height: auto;
  max-width: 371px;
}
.decoration:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 15%;
  height: 70%;
  width: 20px;
  border-radius: 24px;
  background-color: #dec68b;
}

@media (min-width: 50rem) {
  .photoContainer {
    width: 50%;
  }
}
