html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}
#__next {
  height: 100%;
  width: 100%;
}

:root {
  --fs-sm: 1.125rem;
  --fs-md: 1.5rem; /*24px */
  --fs-lg: 2.25rem;
  --fs-xlg: 3rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --color-primary: black;
  --color-secondary: #e3e1dc;
  --color-neutral: #29150799;
}
@media (max-width: 50rem) {
  :root {
    --fs-sm: 0.625rem;
    --fs-md: 0.75rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 1.125rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
